---
import Layout from '../layouts/Layout.astro';
import 'typed.js'
import Card from '../components/Card.astro';
import emailjs from 'emailjs-com';

 interface Props {
	timePeriod: string;
	subject: string;
	place: string;
	detail: string;
}

const skills = [
	{skill: 'HTML', fluency: 85, width: 'w-h'},
	{skill: 'CSS', fluency: 75, width: 'w-f'},
	{skill: 'SaSS', fluency: 75, width: 'w-f'},
	{skill: 'TailwindCSS', fluency: 80, width: 'w-f'},
	{skill: 'Web Design', fluency: 65, width: 'w-d'},
	{skill: 'Javascript', fluency: 65, width: 'w-d'},
	{skill: 'Typescript', fluency: 75, width: 'w-e'},
	{skill: 'Angular', fluency: 75, width: 'w-f'},
	{skill: 'Astro', fluency: 60, width: 'w-c'},
	{skill: 'NestJs', fluency: 70, width: 'w-e'},
	{skill: 'UI Design(Figma)', fluency: 55, width: 'w-b'},

]

const resumeData: Props[] = [
	{
		timePeriod: '2012-2018',
		subject: 'Secondary School',
		place: 'Bamenda',
		detail: "During my academic tenure, I attended Presbyterian Secondary Nkwen located in Bamenda, where I successfully completed my secondary education. As a result, I obtained my Ordinary Level Certificate."
	},
	{
		timePeriod: '2018-2020',
		subject: 'High School',
		place: 'Douala',
		detail: "I had the privilege of attending Government Bilingual High School Bonaberi, where I completed my secondary education. Towards the end of 2020, I obtained my Advanced Level Certificate from the aforementioned institution."
	},
	{
		timePeriod: '2020-Present',
		subject: 'Software Engineering',
		place: 'Buea',
		detail: "Since November 2020, I have been enrolled as an Engineering student at the University of Buea. I am currently pursuing my degree in Engineering, and I am expected to complete the program by June of 2024."
	},
	{
		timePeriod: 'June 2022-November 2022',
		subject: 'Internship',
		place: 'Buea',
		detail: "At Ciniter Fintech, I gained valuable skills as a web development intern in Buea. Working with senior developers, I contributed to meaningful projects and gained industry insights."
	}
]

---

<script>
import emailjs from "emailjs-com"
import toast from 'toast-me'

	(document as Document).addEventListener('scroll', managePath)
	function managePath() {
		const sections = ['#home', '#about', '#what', '#resume', '#portfolio', '#contact']
		const sectionNavs = ['#home-link', '#about-link', '#what-link', '#resume-link', '#portfolio-link', '#contact-link']
		sections.forEach(sectionId => {
			const section = document.querySelector(sectionId) as HTMLDivElement
			const sectionBoundingRect = section.getBoundingClientRect()
			if(isElementInTopThirdOfViewport(section)) {
				const sectionNav = document.querySelector(sectionNavs[sections.indexOf(sectionId)]) as HTMLAnchorElement	
				sectionNav.classList.add('text-bright-green')
				sectionNav.classList.remove('text-white')
			}
			else{
				const sectionNav = document.querySelector(sectionNavs[sections.indexOf(sectionId)]) as HTMLAnchorElement
				sectionNav.classList.remove('text-bright-green')
				sectionNav.classList.add('text-white')
			}
		})
	}

	function isElementInTopThirdOfViewport(elem: HTMLElement): boolean {
		const scrollY = window.scrollY || window.pageYOffset;
		const elemTop = elem.getBoundingClientRect().top + scrollY;
		const viewportHeight = window.innerHeight;
		return (elemTop + elem.offsetHeight / 3) > scrollY && elemTop < scrollY + (viewportHeight / 3);
	}

document.addEventListener('click', (event: Event) => {
	const sectionNavs = ['home-link', 'about-link', 'what-link', 'resume-link', 'portfolio-link', 'contact-link']
	const dropdown = document.querySelector('#dropdown') as HTMLDivElement
	if((event?.target as HTMLElement).id === 'hamburger-menu' || (event?.target as HTMLElement).id === 'close-hamburger') {
		dropdown.classList.toggle('flex')
		dropdown.classList.toggle('hidden')
	}

	sectionNavs.forEach((sectionNav) => {
		if((event?.target as HTMLElement).classList.contains('nav')) {
			dropdown.classList.toggle('flex')
			dropdown.classList.toggle('hidden')
		}
	})

})

emailjs.init('oc5pL_EwNEpdhdTL2');
const contactForm = document.getElementById('contact-form') as HTMLFormElement
const emailIndicator = document.getElementById('email_indicator') as HTMLDivElement
contactForm.addEventListener('submit', (event: Event) => {
	event.preventDefault()
	emailIndicator.classList.remove('hidden')
	emailIndicator.classList.add('flex')
	emailjs.sendForm('service_2cx64dj', 'template_jmpgskl', contactForm).then((result: any) => {
		toast('Email sent successfully! We will get back to you soon!', 'notify')
		emailIndicator.classList.remove('flex')
		emailIndicator.classList.add('hidden')
		contactForm.reset()
	}), (error: any) => {	
		toast('Something went wrong! Please try again later!', 'error')
		emailIndicator.classList.remove('flex')
		emailIndicator.classList.add('hidden')
	}})
</script>

<Layout title="YimnaiDev Portfolio">
	<client-only>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js" integrity="sha512-hIlMpy2enepx9maXZF1gn0hsvPLerXoLHdb095CmRY5HG3bZfN7XPBZ14g+TUDH1aGgfLyPHmY9/zuU53smuMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			import Typed from 'typed.js'
			const typedText = new Typed('#typed-text', {
			strings: ["I'm", 'A', 'Fullstack Web Developer'],
			typeSpeed: 100,
			backSpeed: 100,
			loop: true,
			smartBackspace: true

		})
		typedText.start()
		</script>
	</client-only>

	<main class="w-full flex md:flex-row flex-col items-start justify-center relative">
		<aside class="md:w-[25%] w-full md:h-screen bg-dark-green flex md:flex-col md:items-center md:justify-start md:space-y-3 md:py-8 py-3 px-3 item-center justify-between fixed top-0 z-50 md:fixed md:left-0">
			<div class="rounded-full hidden md:block border-solid border-8 border-dark-gray">
				<img src="/face.jpeg" alt="Yimnai Nerus" class="rounded-full w-36 h-36 object-cover object-center">
			</div>
			<div class="font-bold text-sm md:text-xl text-white text-center flex items-center justify-center">
				Yimnai Nerus Zaumu
			</div>
			<div class="hidden md:flex flex-col items-center justify-center space-y-6 mt-6">
				<a href="#home" class="text-white text-xl" id="home-link">Home</a>
				<a href="#about" class="text-white text-xl" id="about-link">About Me</a>
				<a href="#what" class="text-white text-xl" id="what-link">What I do</a>
				<a href="#resume" class="text-white text-xl" id="resume-link">Resume</a>
				<a href="#portfolio" class="text-white text-xl" id="portfolio-link">Portfolio</a>
				<a href="#contact" class="text-white text-xl" id="contact-link">Contact</a>
			</div>
			<!-- Social Icons -->
			<div class="flex items-center justify-center md:space-x-8 space-x-3 md:fixed md:bottom-3">
				<a href="https://twitter.com/YimnaiNerus" target="_blank">
					<img src="/twitter.svg" alt="Twitter icon" class="w-6 h-6">
				</a>
				<a href="https://www.linkedin.com/in/yimnai-nerus-zaumu-436563145/" target="_blank">
					<img src="/linkedin.svg" alt="Twitter icon" class="w-6 h-6">
				</a>
				<a href="https://github.com/Nerus-Zaumu" target="_blank">
					<img src="/github.svg" alt="Twitter icon" class="w-6 h-6">
				</a>
				<img src="/hamburger-menu.svg" alt="More" class="w-10 md:hidden block" id="hamburger-menu">
			</div>
		</aside>
		<section class="flex flex-col items-start justify-center md:w-[75%] w-full h-auto md:right-0 md:absolute overflow-y-scroll">
			<div class="w-full flex items-center justify-center space-y-4 relative" id="home">
				<div class="w-full h-screen bg-hero-image bg-cover bg-center brightness-50">
				</div>
				<div class="flex flex-col items-center justify-center space-y-3 absolute">
					<h1 class="text-white text-4xl font-bold">Welcome</h1>
					<p id="typed-text" class="text-white text-7xl text-center font-bold">I'm a Fullstack Web Developer</p>
					<h1 class="text-white text-3xl font-light">Based in Buea, Cameroon</h1>
					<a href="#contact" class="rounded-3xl py-3 px-6 text-bright-green font-bold hover:animate-btn-transform border-solid border-2 border-bright-green">Hire Me</a>
				</div>
			</div>
			<div class="w-full bg-white flex flex-col justify-center items-center space-y-12" id="about">
				<div class="flex flex-col items-center justify-center space-y-2  mt-24">
					<h1 class="font-bold text-dark-green text-4xl">KNOW ME MORE</h1>
					<span class="h-1 w-28 bg-bright-green"></span>
				</div>
				<div class="w-[90%] mx-auto flex md:flex-row flex-col items-start justify-center md:space-x-6 space-x-0 md:space-y-0 space-y-3">
					<div class="md:w-[60%] w-full py-2 space-y-4">
						<h1 class="font-bold text-dark-green text-3xl">I'm <span class="text-bright-green">Yimnai Nerus,</span> a Web Developer</h1>
						<p class="text-dark-green font-light font-mono text-justify">As a fullstack developer proficient in Angular and NestJS, I bring a wealth of knowledge and expertise to any web development project. With my skills and experience, I can help businesses build powerful, user-friendly websites and applications that deliver exceptional results. Whether you need a new website from scratch or want to optimize your existing platform, I am here to help you achieve your goals. I am dedicated to delivering high-quality work within budget and on time, ensuring that your project is a success. Contact me today to learn more about how I can help your business thrive online</p>
					</div>
					<div class="md:w-[40%] w-full py-2 space-y-4">
						<h1>
							<p class="border-solid border-b-2 border-b-light-gray pb-3 text-dark-gray text-xl"><span class="text-dark-greem font-bold">Name: </span> Yimnai Nerus</p>
						</h1>
						<h1>
							<a class="border-solid border-b-2 border-b-light-gray pb-3 text-bright-green text-xl" href="mailto:neruszaumuy@gmail.com"><span class="text-dark-gray font-bold">Email: </span> &nbsp; neruszaumuy@gmail.com</a>
						</h1>
						<h1>
							<p class="border-solid border-b-2 border-b-light-gray pb-3 text-dark-gray text-xl"><span class="text-dark-greem font-bold">Age: </span> 22</p>
						</h1>
						<h1>
							<p class="border-solid border-b-2 border-b-light-gray pb-3 text-dark-gray text-xl"><span class="text-dark-greem font-bold">From: </span> Buea, Cameroon</p>
						</h1>
					</div>
				</div>
			</div>
			<div class="w-full md:w-[50%] mx-auto py-4 my-4 flex items-center justify-between" id="what">
				<span class="flex flex-col items-center justify-center">
					<h1 class="text-6xl font-bold text-dark-green" id="count-exp">8+</h1>
					<h1 class="text-dark-gray">Months of Experience</h1>
				</span>
				<span class="w-1 h-24 bg-bright-green dark:bg-dark-gray"></span>
				<span class="flex flex-col items-center justify-center">
					<h1 class="text-6xl font-bold text-dark-green">5+</h1>
					<h1 class="text-dark-gray">Projects Done</h1>
				</span>
			</div>

			<div class="w-[90%] mx-auto py-4 mt-4" id="resume">
				<div class="flex flex-col items-center justify-center space-y-2  mt-24">
					<h1 class="font-bold text-dark-green text-4xl">RESUME</h1>
					<span class="h-1 w-28 bg-bright-green"></span>
				</div>
				<div class="w-full mt-6 grid grid-cols-2 grid-flow-row py-2 px-2">
					{resumeData.map((item: Props) => (
						<Card timePeriod={item.timePeriod} place={item.place} detail={item.detail} subject={item.subject}/>
					))}
				</div>
			</div>
			<div class="w-[90%] mx-auto">
				<div class="flex flex-col items-center justify-center space-y-2  mt-24">
					<h1 class="font-bold text-dark-green text-4xl">MY SKILLS</h1>
					<span class="h-1 w-28 bg-bright-green"></span>
				</div>
				<div class="w-full flex md:flex-row flex-col items-start justify-between">
					<div class="md:w-[45%] w-full flex flex-col items-center justify-center space-y-3 py-3">
						{
							skills.slice(0, 4).map((skill: {skill: string; fluency: number, width: string}) => (
							<span class="w-full flex items-center justify-between">
								<span class="text-dark-green font-bold text-xl">{skill.skill}</span>
								<span class="text-dark-green">{skill.fluency}%</span>
							</span>
							<span class="w-full h-2 rounded-[20px] bg-dark-gray flex">
								<span class={`${skill.width} h-full rounded-l-md bg-bright-green`}></span>
							</span>
							))
						}
					</div>
					<div class="md:w-[45%] w-full flex flex-col items-center justify-center space-y-3 py-3">
						{
							skills.slice(5, 9).map((skill: {skill: string; fluency: number, width: string}) => (
							<span class="w-full flex items-center justify-between">
								<span class="text-dark-green font-bold text-xl">{skill.skill}</span>
								<span class="text-dark-green">{skill.fluency}%</span>
							</span>
							<span class="w-full h-2 rounded-[20px] bg-dark-gray flex">
								<span class={`${skill.width} h-full rounded-l-md bg-bright-green`}></span>
							</span>
							))
						}
					</div>
				</div>

				<div class="w-[90%] mx-auto" id="portfolio">
					<div class="flex flex-col items-center justify-center space-y-2  mt-24">
						<h1 class="font-bold text-dark-green text-4xl">MY WORK</h1>
						<span class="h-1 w-28 bg-bright-green"></span>
					</div>
					<div class="w-full py-3 grid md:grid-cols-3 sm:grid-cols-2 gap-3">
						<div class="row-span-1 rounded-md shadow-md  relative group">
							<img src="/zajoe_portfolio.png" alt="Za Joe" class="h-full w-full object-cover object-center rounded-md cursor-pointer ">
							<div class="absolute hover:backdrop-brightness-50 z-50 w-full h-full top-0 hidden group-hover:flex flex-col items-center justify-center space-y-3">
								<p class="text-white text-xl font-bold">ZaJoe Portfolio</p>
								<span class="flex items-center justify-center space-x-4">
									<a href="https://github.com/Nerus-Zaumu/zaumu-joe-portfolio" target="_blank"><img src="/github.svg" alt="Github" class="w-8 h-8 cursor-pointer"></a>
									<a href="http://angry-addition.surge.sh/" target="_blank"><img src="/link.svg" alt="ZaJoe Portfolio" class="w-8 h-8 cursor-pointer"></a>
								</span>
							</div>
						</div>
						<div class="md:row-span-2 sm:row-span-3 relative group">
							<img src="/tori-me.png" alt="Tori Me" class="h-full w-full object-cover object-center rounded-md cursor-pointer ">
							<div class="absolute hover:backdrop-brightness-50 z-50 w-full h-full top-0 hidden group-hover:flex flex-col items-center justify-center space-y-3">
								<p class="text-white text-xl font-bold">DailyEchoes</p>
								<span class="flex items-center justify-center space-x-4">
									<a href="https://github.com/Nerus-Zaumu/tori-me" target="_blank"><img src="/github.svg" alt="Github" class="w-8 h-8 cursor-pointer"></a>
									<a href="https://daily-echoes.vercel.app/" target="_blank"><img src="/link.svg" alt="Github" class="w-8 h-8 cursor-pointer"></a>
								</span>
							</div>
						</div>
						<div class="md:row-span-1 sm:row-span-3 relative group">
							<img src="/yimcipe.png" alt="Yimcipe" class="h-full w-full object-cover object-center rounded-md cursor-pointer ">
							<div class="absolute hover:backdrop-brightness-50 z-50 w-full h-full top-0 hidden group-hover:flex flex-col items-center justify-center space-y-3">
								<p class="text-white text-xl font-bold">Yimcipe</p>
								<span class="flex items-center justify-center space-x-4">
									<a href="https://github.com/Nerus-Zaumu/yimcipe" target="_blank"><img src="/github.svg" alt="Github" class="w-8 h-8 cursor-pointer"></a>
								</span>
							</div>
						</div>
						<div class="relative group">
							<img src="/steller-school.png" alt="Steller School" class="h-full w-full object-cover object-center rounded-md cursor-pointer ">
							<div class="absolute hover:backdrop-brightness-50 z-50 w-full h-full top-0 hidden group-hover:flex flex-col items-center justify-center space-y-3">
								<p class="text-white text-xl font-bold">Steller School Mobile</p>
								<span class="flex items-center justify-center space-x-4">
									<a href="https://github.com/Nerus-Zaumu/steller-school" target="_blank"><img src="/github.svg" alt="Github" class="w-8 h-8 cursor-pointer"></a>
								</span>
							</div>
						</div>
						<div class="relative group col-span-1">
							<img src="/tori-me-novice.png" alt="ToriMe" class="h-full w-full object-cover object-center rounded-md cursor-pointer ">
							<div class="absolute hover:backdrop-brightness-50 z-50 w-full h-full top-0 hidden group-hover:flex flex-col items-center justify-center space-y-3">
								<p class="text-white text-xl font-bold">ToriMe</p>
								<span class="flex items-center justify-center space-x-4">
									<a href="https://github.com/Nerus-Zaumu/daily-echoes" target="_blank"><img src="/github.svg" alt="Github" class="w-8 h-8 cursor-pointer"></a>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="w-[90%] mx-auto" id="contact">
					<div class="flex flex-col items-center justify-center space-y-2  mt-24">
						<h1 class="font-bold text-dark-green text-4xl">GET IN TOUCH</h1>
						<span class="h-1 w-28 bg-bright-green"></span>
					</div>
					<div class="w-full flex md:flex-row items-center justify-center flex-col md:space-x-3 md:space-y-0 space-y-4">
						<div class="md:w-[45%] w-full">
							<h1 class="text-dark-green font-bold text-2xl">Address</h1>
							<span>
								<p class="text-dark-gray text-xl">Federal Quarters</p>
								<p class="text-dark-gray text-xl">Buea</p>
								<p class="text-dark-gray text-xl">South West Region</p>
							</span>
							<br>
							<span>
								<p class="flex items-center justify-start space-x-2 w-full">
									<object data="/phone.svg" type="image/svg+xml" class="addr w-8 h-8"></object>
									<span class="text-dark-gray text-xl">(+237) 673-192-386</span>
								</p>
								<p class="flex items-center justify-start space-x-2 w-full">
									<object data="/email.svg" type="image/svg+xml" class="w-8 h-8"></object>
									<span class="text-dark-gray text-xl">yimnai.dev@outlook.com</span>
								</p>
							</span>
						</div>
						<div class="md:w-45% w-full flex flex-col pb-5 relative">
							<form action="POST" class="w-full flex flex-col items-center justify-center space-y-4 mt-4" id="contact-form">
								<div class="flex md:flex-row flex-col items-center justify-between w-full space-y-3">
									<input type="hidden" class="hidden" name="to_name" value="YimnaiDev">
									<input type="text" placeholder="Your Name" class="outline-none rounded-md shadow-sm focus:border-bright-green border-solid border-2 border-dark-gray md:w-[45%] w-full h-10" name="from_name" required id="from_name">
									<input type="email" placeholder="Your Email" class="outline-none rounded-md shadow-sm hover:outline-none border-solid border-2 border-dark-gray md:w-[45%] w-full h-10 focus:border-bright-green" required name="user_email" id="user_email">
								</div>
								<div class="w-full">
								<textarea name="message" id="message" cols="30" rows="10" class="outline-none: focus:outline-none border-dark-gray border-solid border-2 rounded-md shadow-sm w-full focus:border-bright-green" required	placeholder="Enter message here..."></textarea>
								</div>
								<div class="w-full flex items-center justify-center">
									<input type="submit" class="py-2 px-4 rounded-md shadow md text-bright-green border-solid border-2 border-bright-green hover:animate-btn-transform" value="Contact">
								</div>
							</form>
							<div class="hidden absolute top-0 w-full h-full backdrop-brightness-50 items-center justify-center" id="email_indicator">
								<div class="inline-block h-10 w-10 animate-spin rounded-full border-4 border-solid border-bright-green border-r-transparent align-[-0.125em] text-primary motion-reduce:animate-[spin_1.5s_linear_infinite]" role="status"><span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Sending...</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full py-8 bg-white flex items-center justify-center">
					<span class="w-full text-dark-green font-light">
						Copyright © {new Date().getFullYear()} &nbsp; <span class="text-bright-green font-bold text-xl">yimnaidev.</span>&nbsp; All rights reserved.
					</span>
				</div>
			</div>
			<div class="w-full py-3 bg-dark-green absolute top-0 hidden flex-col items-start justify-start space-y-3" id="dropdown">
				<span class="w-[90%] mx-auto flex items-end justify-end pb-3 cursor-pointer" id="close-hamburger">
					<img src="/close.svg" alt="" class="w-10 h-10" id="close-hamburger">
				</span>
				<a href="#home" id="home-link" class="text-white border-solid border-b-2 border-b-white w-full pb-2 nav">Home</a>
				<a href="#about" id="about-link" class="text-white border-solid border-b-2 border-b-white w-full pb-2 nav">About</a>
				<a href="#what" id="what-link" class="text-white border-solid border-b-2 border-b-white w-full pb-2 nav">What</a>
				<a href="#resume" id="resume-link" class="text-white border-solid border-b-2 border-b-white w-full pb-2 nav">Resume</a>
				<a href="#portfolio" id="portfolio-link" class="text-white border-solid border-b-2 border-b-white w-full pb-2 nav">Portfolio</a>
				<a href="#contact" id="contact-link" class="text-white border-solid border-b-2 border-b-white w-full pb-2 nav">Contact</a>
			</div>
		</section>
	</main>

</Layout>
